.sidebar .MuiMenuItem-root {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-style: SemiBold;
  color: #ffffff;
  margin-bottom: 10%;
}
.sidebar .MuiMenuItem-root.internal {
  margin-bottom: 2%;
  font-size: 20px;
}
.sidebar .logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sidebar .logo-container .logo-img {
  margin-bottom: 15%;
  width: 80%;
  height: auto;
}
.sidebar .MuiAccordion-root {
  background-color: transparent;
  margin-bottom: 8%;
  width: 100%;
}

.sidebar .MuiAccordion-root .MuiAccordionSummary-content p {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-style: SemiBold;
  color: #ffffff;
  /* margin-bottom: 10%; */
}
.sidebar .logo-container .logo-img {
  width: 200px;
  height: auto;
}
@media screen and (max-width: 768px) {
  .MuiDrawer-paper {
    width: 70%;
  }
  .sidebar .MuiAccordion-root .MuiAccordionSummary-content p {
    font-size: 16px;
  }
  .sidebar .MuiMenuItem-root.internal {
    font-size: 16px;
  }
  .sidebar .logo-container .logo-img {
    width: 60%;
  }
}
